<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luka.r18.mappers.AnimeViewMapper">

    <resultMap type="com.luka.r18.entity.response_object.AnimeView"
               id="AnimeViewMapDataTransfer">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
        <result property="pathUuid" column="path_uuid" jdbcType="VARCHAR"/>
        <result property="title" column="file_name" jdbcType="VARCHAR"/>
        <result property="info" column="info" jdbcType="VARCHAR"/>
        <result property="clicks" column="clicks" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <collection property="fileList" ofType="AnimeFileMap" select="queryFileByUuid"
                    column="path_uuid"/>
    </resultMap>

    <resultMap type="com.luka.r18.entity.AnimeViewEntity" id="AnimeViewMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
        <result property="pathUuid" column="path_uuid" jdbcType="VARCHAR"/>
        <result property="info" column="info" jdbcType="VARCHAR"/>
        <result property="clicks" column="clicks" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="FileMap" type="com.luka.r18.entity.response_object.FileListData">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="fileType" column="type" jdbcType="VARCHAR"/>
        <result property="fileUuid" column="uuid" jdbcType="VARCHAR"/>
        <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
        <result property="parentFolder" column="parent_folder" jdbcType="VARCHAR"/>
        <result property="fileSize" column="file_size" jdbcType="VARCHAR"/>
        <result property="lastEditTime" column="last_edit_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--子查询-->
    <select id="queryFileByUuid" resultMap="FileMap">
        select * from anime_file
        left join anime_info_link
        on anime_file.uuid = anime_info_link.video_uuid
        where parent_folder = #{path_uuid} order by file_name;
    </select>

    <!--查询单个-->
    <select id="queryById" resultMap="AnimeViewMap">
        select
          id, uuid, path_uuid, info, clicks, create_time
        from anime_view
        where id = #{id}
    </select>

    <!--判断某条数据是否存在-->
    <select id="isEmptyByUuid" resultType="java.lang.Integer">
        select count(1) from anime_view where uuid = #{uuid} limit 1;
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="AnimeViewMapDataTransfer">
        select
        anime_view.id,
        anime_view.uuid,
        anime_view.path_uuid,
        anime_view.info,
        anime_view.clicks,
        anime_view.create_time,
        anime_file.file_name
        from anime_view left join anime_file on anime_view.path_uuid = anime_file.uuid
        <where>
            <if test="animeView.id != null">
                and anime_view.id = #{animeView.id}
            </if>
            <if test="animeView.uuid != null and animeView.uuid != ''">
                and anime_view.uuid = #{animeView.uuid}
            </if>
            <if test="animeView.pathUuid != null and animeView.pathUuid != ''">
                and anime_view.path_uuid = #{animeView.pathUuid}
            </if>
            <if test="animeView.info != null and animeView.info != ''">
                and anime_view.info = #{animeView.info}
            </if>
            <if test="animeView.clicks != null and animeView.clicks != -1 ">
                and anime_view.clicks = #{animeView.clicks}
            </if>
            <if test="animeView.createTime != null">
                and anime_view.create_time = #{animeView.createTime}
            </if>
            <if test="keyword != null">
                and anime_file.file_name like concat('%',#{keyword},'%')
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from anime_view left join anime_file on anime_view.path_uuid = anime_file.uuid
        <where>
            <if test="animeView.id != null">
                and anime_view.id = #{animeView.id}
            </if>
            <if test="animeView.uuid != null and animeView.uuid != ''">
                and anime_view.uuid = #{animeView.uuid}
            </if>
            <if test="animeView.pathUuid != null and animeView.pathUuid != ''">
                and anime_view.path_uuid = #{animeView.pathUuid}
            </if>
            <if test="animeView.info != null and animeView.info != ''">
                and anime_view.info = #{animeView.info}
            </if>
            <if test="animeView.clicks != null and animeView.clicks != -1 ">
                and anime_view.clicks = #{animeView.clicks}
            </if>
            <if test="animeView.createTime != null">
                and anime_view.create_time = #{animeView.createTime}
            </if>
            <if test="keyword != null">
                and anime_file.file_name like concat('%',#{keyword},'%')
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into anime_view(uuid, path_uuid, info, clicks, create_time)
        values (#{uuid}, #{pathUuid}, #{info}, #{clicks}, #{createTime})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into anime_view(uuid, path_uuid, info, clicks, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.uuid}, #{entity.pathUuid}, #{entity.info}, #{entity.clicks}, #{entity.createTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into anime_view(uuid, path_uuid, info, clicks, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.uuid}, #{entity.pathUuid}, #{entity.info}, #{entity.clicks}, #{entity.createTime})
        </foreach>
        on duplicate key update
        uuid = values(uuid),
        path_uuid = values(path_uuid),
        info = values(info),
        clicks = values(clicks),
        create_time = values(create_time)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update anime_view
        <set>
            <if test="animeView.id != null">
                and anime_view.id = #{animeView.id}
            </if>
            <if test="animeView.uuid != null and animeView.uuid != ''">
                and anime_view.uuid = #{animeView.uuid}
            </if>
            <if test="animeView.pathUuid != null and animeView.pathUuid != ''">
                and anime_view.path_uuid = #{animeView.pathUuid}
            </if>
            <if test="animeView.info != null and animeView.info != ''">
                and anime_view.info = #{animeView.info}
            </if>
            <if test="animeView.clicks != null and animeView.clicks != -1 ">
                and anime_view.clicks = #{animeView.clicks}
            </if>
            <if test="animeView.createTime != null">
                and anime_view.create_time = #{animeView.createTime}
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from anime_view where id = #{id}
    </delete>

</mapper>

