<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luka.r18.mappers.ComicViewMapper">

    <!--    实体类-->
    <resultMap type="com.luka.r18.entity.ComicViewEntity" id="ComicViewMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
        <result property="pathUuid" column="path_uuid" jdbcType="VARCHAR"/>
        <result property="info" column="info" jdbcType="VARCHAR"/>
        <result property="clicks" column="clicks" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--    客户端数据-->
    <resultMap type="com.luka.r18.entity.response_object.ComicView" id="ComicViewMapDataTransfer">
        <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
        <result property="pathUuid" column="path_uuid" jdbcType="VARCHAR"/>
        <result property="info" column="info" jdbcType="VARCHAR"/>
        <result property="clicks" column="clicks" jdbcType="INTEGER"/>
        <result property="title" column="file_name" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <collection property="fileList" ofType="ArrayList" select="queryFileByUuid"
                    column="path_uuid"/>
    </resultMap>

    <resultMap id="FileMap" type="com.luka.r18.entity.response_object.FileListData">
        <result property="fileType" column="type" jdbcType="VARCHAR"/>
        <result property="fileUuid" column="uuid" jdbcType="VARCHAR"/>
        <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
        <result property="parentFolder" column="parent_folder" jdbcType="VARCHAR"/>
        <result property="fileSize" column="file_size" jdbcType="VARCHAR"/>
        <result property="lastEditTime" column="last_edit_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ComicViewMap">
        select
          id, uuid, path_uuid, info, clicks, create_time
        from comic_view
        where uuid = #{uuid}
    </select>

    <!--子查询-->
    <select id="queryFileByUuid" resultMap="FileMap">
        select * from file
        left join video_info
        on file.uuid = video_info.video_uuid
        where parent_folder = #{path_uuid} order by file_name;
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ComicViewMapDataTransfer">
        select
        comic_view.uuid,
        comic_view.path_uuid,
        comic_view.info,
        comic_view.clicks,
        comic_view.create_time,
        file.file_name
        from comic_view left join file on comic_view.path_uuid = file.uuid
        <where>
            <if test="ComicViewEntity.id != null">
                and comic_view.id = #{ComicViewEntity.id}
            </if>
            <if test="ComicViewEntity.uuid != null and ComicViewEntity.uuid != ''">
                and comic_view.uuid = #{ComicViewEntity.uuid}
            </if>
            <if test="ComicViewEntity.pathUuid != null and ComicViewEntity.pathUuid != ''">
                and comic_view.path_uuid = #{ComicViewEntity.pathUuid}
            </if>
            <if test="ComicViewEntity.info != null and ComicViewEntity.info != ''">
                and comic_view.info = #{ComicViewEntity.info}
            </if>
            <if test="ComicViewEntity.clicks != null">
                and comic_view.clicks = #{ComicViewEntity.click}
            </if>
            <if test="ComicViewEntity.createTime != null">
                and comic_view.create_time = #{ComicViewEntity.createTime}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from comic_view
        <where>
            <if test="ComicViewEntity.id != null">
                and id = #{ComicViewEntity.id}
            </if>
            <if test="ComicViewEntity.uuid != null and ComicViewEntity.uuid != ''">
                and uuid = #{ComicViewEntity.uuid}
            </if>
            <if test="ComicViewEntity.pathUuid != null and ComicViewEntity.pathUuid != ''">
                and path_uuid = #{ComicViewEntity.pathUuid}
            </if>
            <if test="ComicViewEntity.info != null and ComicViewEntity.info != ''">
                and info = #{ComicViewEntity.info}
            </if>
            <if test="ComicViewEntity.clicks != null">
                and clicks = #{ComicViewEntity.click}
            </if>
            <if test="ComicViewEntity.createTime != null">
                and create_time = #{ComicViewEntity.createTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="uuid" useGeneratedKeys="true">
        insert into comic_view(uuid, path_uuid, info, clicks, create_time)
        values (#{entity.uuid}, #{entity.pathUuid}, #{entity.info}, #{entity.clicks}, #{entity.createTime})
    </insert>

    <insert id="insertBatch" keyProperty="uuid" useGeneratedKeys="true">
        insert into comic_view(id, uuid, path_uuid, info, clicks, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.id},#{entity.uuid}, #{entity.pathUuid}, #{entity.info}, #{entity.clicks}, #{entity.createTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="uuid" useGeneratedKeys="true">
        insert into comic_view(id, path_uuid, info, clicks, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.id},#{entity.uuid}, #{entity.pathUuid}, #{entity.info}, #{entity.clicks}, #{entity.createTime})
        </foreach>
        on duplicate key update
        id = values(id),
        uuid = values(uuid),
        path_uuid = values(path_uuid),
        info = values(info),
        clicks = values(clicks),
        create_time = values(create_time)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update comic_view
        <set>
            <if test="ComicViewEntity.id != null">
                and id = #{ComicViewEntity.id}
            </if>
            <if test="ComicViewEntity.uuid != null and ComicViewEntity.uuid != ''">
                and uuid = #{ComicViewEntity.uuid}
            </if>
            <if test="ComicViewEntity.pathUuid != null and ComicViewEntity.pathUuid != ''">
                and path_uuid = #{ComicViewEntity.pathUuid}
            </if>
            <if test="ComicViewEntity.info != null and ComicViewEntity.info != ''">
                and info = #{ComicViewEntity.info}
            </if>
            <if test="ComicViewEntity.clicks != null">
                and clicks = #{ComicViewEntity.clicks}
            </if>
            <if test="ComicViewEntity.createTime != null">
                and create_time = #{ComicViewEntity.createTime}
            </if>
        </set>
        where uuid = #{uuid}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from comic_view where uuid = #{uuid}
    </delete>

</mapper>

